mysite/polls/__pycache__/views.cpython-39.pyc
mysite/polls/__pycache__/views.cpython-39.pyc
mysite/polls/__pycache__/views.cpython-39.pyc
mysite/mysite/__pycache__/settings.cpython-39.pyc
mysite/mysite/__pycache__/settings.cpython-39.pyc
mysite/db.sqlite3
